:root {

    /* === page === */
    --page-text-color: #ffffff;
    --page-back-color: #000000;
    --page-border-color: #3b3b3b;
    /* all; top_bottom right_left; top right bottom left*/
    --page-border-width: 2px;
    --page-border-radius: 0.25em;
    --page-hover-text-color: #ffffff;
    --page-hover-back-color: #222222;
    --page-marked-text-color: #000000;
    --page-marked-back-color: #ececec;
    --page-content-border-color: #443a4e;
    --page-focus-color: #e2b6ff;

    /* === navigation === */
    --navigation-text-color: #ffffff;
    --navigation-back-color: #383838;
    --navigation-shadow-color: #292550;
    --navigation-marker-color: #ffffff;

    /* === modal === */
    --modal-header-back-color: #291537;

    /* === panel === */
    --panel-header-back-color: #291537;

    /* === fieldset === */
    --fieldset-legend-text-color: var(--form-text-color);
    --fieldset-legend-back-color: var(--fieldset-border-color);
    --fieldset-legend-border-color: var(--fieldset-border-color);
    --fieldset-legend-border-width: var(--fieldset-border-width);
    --fieldset-legend-border-radius: var(--fieldset-border-radius);

    /* === input === */
    --input-placeholder-text-color: #adadad;

    /* === input-button === */
    --input-button-text-color: #aaaaaa;
    --input-button-back-color: #1e0e2c;

    --input-button-hover-text-color: #ffffff;
    --input-button-hover-back-color: #5a2b84;

    --input-button-active-text-color: #5a2b84;
    --input-button-active-back-color: #ffffff;

    /* === button === */
    --button-text-color: #aaaaaa;
    --button-back-color: #1e0e2c;
    --button-hover-back-color: #5a2b84;

    /* === switch === */
    --switch-checked-back-color: #c0f3c0;
    --switch-unchecked-back-color: #bd7676;

    /* === select === */
    --select-option-marked-back-color: #493258;
    --select-option-selected-back-color: #252525;
    --select-option-selected-marked-back-color: #876c99;

    /* === button === */
    --button-primary-back-color: #584faa;
    --button-primary-border-color: #3d3775;
    /* all; top_bottom right_left; top right bottom left*/
    --button-primary-hover-back-color: #837cca;

    --button-secondary-back-color: #aa4f63;
    --button-secondary-border-color: #753741;
    /* all; top_bottom right_left; top right bottom left*/
    --button-secondary-hover-back-color: #ca7c8d;

    /* === scrollbar === */
    --scrollbar-track-color: #292550;
    --scrollbar-resizer-color: #685dc5;
    --scrollbar-thumb-color: #685dc5;
    --scrollbar-thumb-hover-color: #837cca;
    --scrollbar-thumb-active-color: #837cca;

}
