#container {
    position: relative;
    box-sizing: border-box;
    min-width: 300px;
    padding: 6px;
    margin: 1px;
    color: #ffffff;
    background: #222222;
}

#container .player-current {
    color: #ee00ee;
}

#container .player-other {
    color: #fafad2;
}

#container .item-progressive {
    color: #af99ef;
}

#container .item-useful {
    color: #6d8be8;
}

#container .item-normal {
    color: #00eeee;
}

#container .item-trap {
    color: #fa8072;
}

#container .location {
    color: #00ff7f;
}

#container .entrance {
    color: #6495ed;
}
