:host {
    position: relative;
    margin: 1px;
    color: #ffffff;
    background: #222222;
}

#container {
    position: relative;
    box-sizing: border-box;
    padding: 6px;
    white-space: pre-wrap;
    user-select: text;
}

#container .player-current {
    color: var(--ap-color-player-current, #ee00ee);
}

#container .player-other {
    color: var(--ap-color-player-other, #fafad2);
}

#container .item-progressive {
    color: var(--ap-color-item-progressive, #af99ef);
}

#container .item-useful {
    color: var(--ap-color-item-useful, #6d8be8);
}

#container .item-normal {
    color: var(--ap-color-item-normal, #00eeee);
}

#container .item-trap {
    color: var(--ap-color-item-trap, #fa8072);
}

#container .location {
    color: var(--ap-color-location, #00ff7f);
}

#container .entrance {
    color: var(--ap-color-entrance, #6495ed);
}

#container .hint-unspecified {
    color: var(--ap-color-hint-unspecified, #ffffff);
}

#container .hint-no-priority {
    color: var(--ap-color-hint-no-priority, #00eeee);
}

#container .hint-priority {
    color: var(--ap-color-hint-priority, #af99ef);
}

#container .hint-avoid {
    color: var(--ap-color-hint-avoid, #fa8072);
}

#container .hint-found {
    color: var(--ap-color-hint-found, #00ff7f);
}
