:host {
    padding: 0 !important;
    border: none !important;
    background-color: transparent !important;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    background-color: transparent;
}

#input {
    position: relative;
    box-sizing: border-box;
    height: 2em;
    color: var(--input-text-color, #000000);
    background-color: var(--input-back-color, #ffffff);
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-radius: var(--input-border-radius, 6px);
    font-size: 1rem;
}

#input.append-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#input:focus {
    box-shadow: 0 0 2px 2px var(--input-focus-color, #06b5ff);
    outline: none;
}

#input:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
}

#selection {
    display: none;
    border-style: solid;
    border-width: var(--input-border-width, 2px);
    border-color: var(--input-border-color, #222222);
    border-top: none;
    border-radius: 0 0 var(--input-border-radius, 6px) var(--input-border-radius, 6px);
}

#selection.active {
    display: flex;
}
