:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

#ap-tabs {
    flex: 1;
}

.panel[category="hint_builder"] {
    border-bottom-style: solid;
    border-bottom-width: var(--tabpanel-categories-border-width, 2px);
    border-bottom-color: var(--tabpanel-categories-border-color, #222222);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#ap-log,
#ap-hints {
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.3rem;
}

.filter-bar {
    display: flex;
    padding: 3px;
}

.search-field,
.filter-choice {
    padding: 3px;
}

.search-field {
    width: 300px;
}

.filter-choice {
    width: 240px;
    flex-grow: 0;
}

#chat-input {
    flex-grow: 0;
}

.hint-stats {
    padding: 10px 10px 0px;
}

#ap-hint-point-progress {
    margin-left: 5px;
    -webkit-appearance: none;
}

#ap-hint-point-progress::-webkit-progress-inner-element {
    border-style: solid;
    border-width: var(--progress-border-width, 2px);
    border-color: var(--progress-border-color, #222222);
    border-radius: var(--progress-border-radius, 6px);
    overflow: hidden;
}

#ap-hint-point-progress::-webkit-progress-bar {
    background-color: var(--progress-back-color, #ffffff);
}

#ap-hint-point-progress::-webkit-progress-value {
    background-color: var(--progress-fill-color, #eaeaea);
    border-radius: var(--progress-border-radius, 6px);
}
